if flag==0
    p You cannot delete leader
else if flag==1
    p Cannot modify running team
else if flag==2
    p You can only set existing team member as a team's leader
form(action='team')
    input(type='submit' value='return')