extends layout

block content
    h1 Admin Page
    h2 Menu
    p
    form(action='/admin/freelancer')
        input(type='submit' value='Manage Freelancer')
    p ----------------------------------------------------
    form(action='/admin/client')
        input(type='submit' value='Manage Client')
    p ----------------------------------------------------
    form(action='/admin/quest')
        input(type='submit' value='Manage Quest')
    p ----------------------------------------------------
    form(action='/admin/team')
        input(type='submit' value='Manage Team')
    p ----------------------------------------------------
    form(action='/logout')
        input(type='submit' value='Log out')