extends layout

block content
    h1 Hello
    h2 It is Client
    p 
    p
        ul
            li
                a(href='/go_quest_apply' style = 'margin-left: 2px; font-size:15px;')
                    button(type='button') 의뢰 신청
                    p
                    p
            li
                a(href='/quest_list' style = 'margin-left: 2px;  font-size:15px;') 
                    button(type='button') 의뢰 목록 확인
    p ----------------------------------------------------
        form(action='/logout')
            input(type='submit' value='Log out')